body {
  background-color: #f8f9fa;
  overflow-x: hidden;
}

#edit {
  font-weight: 600;
  box-shadow: 3px 3px 4px rgb(14, 107, 160);
  background-color: black;
  margin-left: -60px;

}

#edit:hover {
  transform: scale(1.1);
  background-color: rgb(255, 179, 47);
}

#del:hover {
  transform: scale(1.1);
  background-color: red;
}

#create:hover {
  transform: scale(1.1);
  background-color: black;
}


#buton:hover {
  transform: scale(1.1);
  background-color: black;
}

#del {
  margin-left: 10px;
  font-weight: 600;
  box-shadow: 3px 3px 4px rgb(14, 107, 160);
  background-color: black;
  border: none;

}

#create {
  border-radius: 100px;
  font-weight: 600;
  margin-left: -700px;
  margin-top: 59px;
  background-color: black;
  box-shadow: 3px 3px 4px rgb(14, 107, 160);
}

td {
  font-size: small;
  line-height: 3rem;
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

th {
  font-size: smaller;
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.table {
  font-family: Arial, sans-serif;
  font-size: 14px;
}


.table tbody td th {
  text-align: center;
}



.table tbody tr:hover {
  background-color: transparent;

}


.table tbody td:last-child {
  text-align: center;
}


.swal2-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;


}

.swal2-row label {
  flex-basis: 100px;
  margin-right: 10px;
}

.swal2-row input[type="radio"],
.swal2-row input[type="checkbox"] {
  margin-right: 5px;
  margin-top: 5px;

}

.swal2-row label {
  text-transform: capitalize;
  font-weight: 400;
  font-size: large;
  color: black;

}

#users {
  margin-top: 60px;
  color: black;
  font-size: small;
  margin-left: 450px;
  text-transform: uppercase;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#log {
  height: 60px;
}

.btn {
  color: white;
}

.red-popup {
  background-color: white;
  color: white;
  box-shadow: 1px 1px 4px rgb(14, 97, 156);
}

.red-popup .swal2-confirm {
  background-color: black;
  color: hsl(0, 14%, 95%);
  border-color: black;
  box-shadow: 1px 1px 4px rgb(14, 97, 156);
}


.red-popup .swal2-confirm:hover {
  transform: scale(1.1);
}


.swal2-title {
  color: black !important;
  font-size: x-larger !important;
  text-transform: uppercase !important;
  font-style: italic !important;

}

.my-custom-modal .swal2-popup .swal2-icon .swal2-icon--error .swal2-icon .swal2-icon--delete {
  background-color: red;
  box-shadow: 6px 4px 8px rgb(124, 11, 11);
}

.my-custom-modal .swal2-icon--error .swal2-icon--delete {
  background-color: black !important;
}

.swal2-cancel,
.swal2-confirm {
  background-color: black !important;
  box-shadow: 6px 4px 8px rgb(13, 124, 168);
}

/*navbar*/


.navbar {
  background-color: #f8f9fa;
  font-size: larger;
  width: 300px;
  height: 100%;
  position: sticky;
  top: 0;
  z-index: 100;

}

.left {
  position: sticky;
  top: 0;
  float: left;
  width: 300px;
  height: 100vh;
}

.navbar-brand {
  font-weight: bold;
}

#link {
  color: black;
  margin-top: 30px;
  margin-left: -45px;
}


#link:hover {
  background-color: rgb(230, 226, 226);
  border-radius: 20px;
}

#link.active {
  font-weight: bold;
}

.nav-link:hover {
  text-decoration: underline;

}

#twitterlogo {
  margin-top: -690px;
  margin-left: 180px;
}

#twitterlogo:hover {
  background-color: rgb(232, 220, 220);
  border-radius: 15px;
  width: 35px;
  transform: scale(1.1);

}

#tweet {
  display: flex;
  justify-content: center;
  align-items: center;




}

#tweetbtn {
  background-color: rgb(25, 160, 222);
  border: none;
  width: 210px;
  border-radius: 20px;
  height: 40px;
  color: white;
  font-weight: bold;
  margin-top: 30px;
  margin-left: -100px;

}

#tweetbtn:hover {
  background-color: rgb(17, 151, 196);
}

.left {
  float: left;
  margin-top: -20px;
  position: sticky;


}

.nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#logout {
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 14px;
  width: 80px;
  margin-left: -40px;
  border-radius: 30px;
  height: 40px;
  margin-top: -30px;
}

#logout:hover {
  background-color: #ccc;
}

#dot {
  color: black;
  text-decoration: none;
  font-weight: 700;
  font-size: x-large;
  margin-left: -10px;
}

#profile {
  border: none;
  background-color: #f8f9fa;
}


.red-popup {
  background-color: rgb(247, 228, 228);
  color: white;
  border-color: red;
  box-shadow: 6px 4px 8px rgb(5, 55, 74);
}

.red-popup .swal2-confirm {
  background-color: black;
  color: hsl(0, 14%, 95%);
  border-color: black;
  box-shadow: 6px 4px 8px rgb(5, 55, 74);
}

.red-popup .swal2-confirm:hover {
  transform: scale(1.1);
}


.swal2-title {
  color: black;
  font-size: x-larger;
  text-transform: uppercase;
  font-style: italic;

}

#account {
  margin-top: -6px;
  color: black;
  font-size: 15px;
  font-weight: 450PX;
}

#block {
  margin-top: 65px;
  margin-left: 50px;
}

#block2 {
  margin-top: -550px;
  margin-left: 600px;

}

#block3 {
  margin-top: -550px;
  margin-left: 1100px;
}

#card1 {
  height: 550px;
  width: 700px;
  margin-left: 400px;
  border-radius: 12px;
  color: black;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

footer {
  background-color: #f0f3f4;
  color: #657786;
  font-size: 14px;
  padding: 20px;
  text-align: center;
}

#message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  margin-top: 70px;

}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 80%;
  margin-right: 10px;
  box-shadow: 3px 4px 10px rgb(13, 124, 168);
}

input[type="submit"] {
  background-color: #085a5e;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #071217;

}

.twitter-timeline {
  margin-top: 6300px;
  margin-left: 350px;
  background-color: rgb(13, 124, 168);
  box-shadow: 3px 4px 50px rgb(3, 41, 56);

}


footer a {
  color: #1da1f2;
  text-decoration: none;
}

footer {
  margin-top: 30px;
  height: 80px;
  margin-left:250px;
}

footer a:hover {
  text-decoration: underline;
}

/*MEDIA QUERIES*/

@media only screen and (min-width:771px) and (max-width:1025px) {
  .twitter-timeline {
    margin-left: 100px;
  }
}

@media only screen and (min-width:426px) and (max-width:769px) {

  .twitter-timeline {
    margin-left: -0px;
  }

  #edit {
    margin-left: 10px;
  }

  #del {
    width: 56px;
  }
}

@media only screen and (min-width:424px) and (max-width:767px) {

  .twitter-timeline {
    margin-left: -0px;
  }

  #message {
    width: 300px;
    margin-left: 50px;
  }
}

@media only screen and (min-width:319px) and (max-width:423px) {

  .twitter-timeline {
    margin-left: 10px;
  }

  #message {
    width: 300px;
    margin-left: 20px;
  }

  footer {
    background-color: #4CA1AF;
    margin-left: 20px;
  }

  #create {
    margin-left: 30px;
  }


}