body {
  font-size: 1.25rem;
  background: #4CA1AF;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #C4E0E5, #4CA1AF);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */





}

#edit {
  font-weight: 600;
  box-shadow: 3px 3px 4px rgb(14, 107, 160);
  background-color: #3c565b;
  margin-left: -60px;

}

#edit:hover {
  transform: scale(1.1);
  background-color: rgb(255, 179, 47);
}

#del:hover {
  transform: scale(1.1);
  background-color: red;
}

#create:hover {
  transform: scale(1.1);
  background-color: black;
}

#logo:hover {
  transform: scale(1.1);
}

#buton:hover {
  transform: scale(1.1);
  background-color: black;
}

#del {
  margin-left: 10px;
  font-weight: 600;
  box-shadow: 3px 3px 4px rgb(14, 107, 160);
  background-color: #3c565b;
  border: none;

}

#create {
  border-radius: 100px;
  font-weight: 600;
  margin-left: -125px;
  margin-top: 59px;
  background-color: #3c565b;
  box-shadow: 3px 3px 4px rgb(14, 107, 160);
}

td {
  font-size: small;
  line-height: 3rem;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

th {
  font-size: smaller;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Set font family and size for the table */
.table {
  font-family: Arial, sans-serif;
  font-size: 14px;
}


/* Style the table rows */
.table tbody td th {
  text-align: center;
}


/* Set the background color for table rows when hovered */
.table tbody tr:hover {
  background-color: transparent;

}

/* Style the Options column */
.table tbody td:last-child {
  text-align: center;
}


.swal2-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;


}

.swal2-row label {
  flex-basis: 100px;
  margin-right: 10px;
}

.swal2-row input[type="radio"],
.swal2-row input[type="checkbox"] {
  margin-right: 5px;
  margin-top: 5px;

}

.swal2-row label {
  text-transform: capitalize;
  font-weight: 400;
  font-size: large;
  color: black;

}

#logo {
  margin-top: -2px;
  width: 100px;
  height: 70px;
  border-radius: 30px;
}

#users:hover {
  transform: scale(1.1);
  text-shadow: 2px 3px 4px rgb(127, 12, 12);
}

#users {
  margin-top: 60px;
  color: rgb(5, 35, 50);
  font-size: small;
  text-transform: uppercase;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-shadow: 1px 1px 4px rgb(14, 97, 156);
}

#log {
  height: 60px;
}

.btn {
  color: white;
}

.red-popup {
  background-color: white;
  color: white;
  box-shadow: 1px 1px 4px rgb(14, 97, 156);
}

.red-popup .swal2-confirm {
  background-color: black;
  color: hsl(0, 14%, 95%);
  border-color: black;
  box-shadow: 1px 1px 4px rgb(14, 97, 156);
}


.red-popup .swal2-confirm:hover {
  transform: scale(1.1);
}


.swal2-title {
  color: black !important;
  font-size: x-larger !important;
  text-transform: uppercase !important;
  font-style: italic !important;

}

.my-custom-modal .swal2-popup .swal2-icon .swal2-icon--error .swal2-icon .swal2-icon--delete {
  background-color: red;
  box-shadow: 6px 4px 8px rgb(124, 11, 11);
}

.my-custom-modal .swal2-icon--error .swal2-icon--delete {
  background-color: black !important;
}

.swal2-cancel,
.swal2-confirm {
  background-color: black !important;
  box-shadow: 6px 4px 8px rgb(13, 124, 168);
}

/*navbar*/

nav {
  height: 50px;
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex: 1;
}

li {
  margin: 0 10px;
  margin-top: -30px;
  font-size: smaller;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  margin-left: 900px;
}

a:hover {
  color: rgb(83, 118, 12);

}

#profile:hover {
  color: rgb(83, 118, 12);
}

#account:hover {
  color: rgb(83, 118, 12);
}

#profile {
  background-color: none;
  margin: none;
  margin-top: -6px;
  font-size: 17.5px;
  color: black;
}

.red-popup {
  background-color: rgb(247, 228, 228);
  color: white;
  border-color: red;
  box-shadow: 6px 4px 8px rgb(5, 55, 74);
}

.red-popup .swal2-confirm {
  background-color: black;
  color: hsl(0, 14%, 95%);
  border-color: black;
  box-shadow: 6px 4px 8px  rgb(5, 55, 74);
}

.red-popup .swal2-confirm:hover {
  transform: scale(1.1);
}


.swal2-title {
  color: black;
  font-size: x-larger;
  text-transform: uppercase;
  font-style: italic;

}

#account {
  margin-top: -4px;
  color: black;
  font-size: 15px;
  font-weight: 450;
}

#block {
  margin-top: 65px;
  margin-left: 50px;
}

#block2 {
  margin-top: -550px;
  margin-left: 600px;

}

#block3 {
  margin-top: -550px;
  margin-left: 1100px;
}

#card1 {
  background-color: #4CA1AF;
  box-shadow: 1px 1px 30px black;
}

footer {
  background-color: #f0f3f4;
  color: #657786;
  font-size: 14px;
  padding: 20px;
  text-align: center;
}

#message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  margin-top: 70px;

}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 80%;
  margin-right: 10px;
  box-shadow: 3px 4px 10px rgb(13, 124, 168);
}

input[type="submit"] {
  background-color: #085a5e;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #071217;

}

.twitter-timeline {
  margin-top: 6300px;
  margin-left: 350px;
  background-color: rgb(13, 124, 168);
  box-shadow: 3px 4px 50px rgb(3, 41, 56);

}


footer a {
  color: #1da1f2;
  text-decoration: none;
}

footer {
  margin-top: 30px;
  height: 80px;
}

footer a:hover {
  text-decoration: underline;
}